/* container header styles */
.video-container .h4{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .video-container .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
 }
 .video-container .h4 .bi:hover{
    color: #fff;
 }

.video-container {
    display: flex; /* display the videos as a flex container */
    flex-wrap: wrap; /* allow videos to wrap to the next line if needed */
    width: 90%;
    margin: auto;
}

.video {
    width: auto;
    margin-right: 10px;
    flex-shrink: 0; /* prevent videos from shrinking below their width */
    height: 100%;
    object-fit: fill;
}

.video-scroll {
    display: flex; /* display the videos as a flex container */
    flex-wrap: nowrap; /* prevent videos from wrapping to the next line */
    overflow-x: scroll; /* add horizontal scrolling */
    width: max-content; /* make the width of the container based on the size of the videos */
    height: 12em;
}
.video-scroll::-webkit-scrollbar {
    width: 0em;
}

#myVideo {
    width: 100%;
    border-radius: 10px; /* Rounded corners to match the container */
}

/* Add a play button on the center of the video */
#myVideo::before:hover {
    content: "";
    font-size: 90px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px #000;
    opacity: 0.8;
    z-index: 1; /* place above the video */
}

/* Style the video controls */
#myVideo::-webkit-media-controls {
    display: none !important;
}

.video-container:hover #myVideo::-webkit-media-controls {
    display: flex !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 0 0 10px 10px; /* rounded bottom corners */
}

.video-container:hover #myVideo::-webkit-media-controls-panel {
    background: transparent !important;
}

.video-container:hover #myVideo::-webkit-media-controls-play-button,
.video-container:hover #myVideo::-webkit-media-controls-mute-button,
.video-container:hover #myVideo::-webkit-media-controls-timeline,
.video-container:hover #myVideo::-webkit-media-controls-volume-slider,
.video-container:hover #myVideo::-webkit-media-controls-current-time-display,
.video-container:hover #myVideo::-webkit-media-controls-time-remaining-display {
    color: #fff;
}

@media screen and (max-width:600px) {
    .video-scroll {
        height: 10em;
    }
}
