@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
    color: #888;
}

#search_query {
    color: #fff;
}

.main_container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main_container section {
    width: 100%;
}

.main_container section h2 {
    width: 100%;
    margin-bottom: 5px;
}

.content_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    width: 100%;
}

.content_container[type="cards"] {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
}

/* list item css copied from list view page: */

.list_item {
    color: #7B818A;
    font-size: 0.8em;
    background-color: #080e18;
    outline: 1px solid #2c2b34;
    outline-offset: -1px;
    width: 100%;
    height: 4.5em;
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.list_item img {
    height: 100%;
    width: auto;
}

.list_item span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
}

.list_item .info {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.2fr);
    align-items: center;
    margin-left: 3em;
    margin-right: 4em;
}

.info .title_container {
    display: flex;
    flex-direction: column;
}

.info .title_container #title {
    color: #fff;
    font-weight: 500;
}

.info .title_container #artist {
    font-size: x-small;
    -webkit-line-clamp: 1;
}

#like_button {
    margin-right: 2em;
    height: 2.5em;
    width: 2.5em;
    background-color: #080e18;
    border: 1px solid #424050;
    transition: 0.3s;
}

#like_button:hover {
    background-color: #424050;
}

#like_button i {
    padding-top: 3px;
}

.round_button {
    height: 3.5em;
    width: 3.5em;
    background-color: #1f242e;
    border: 0 white solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .list_item .info {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.45fr);
        margin-left: 1em;
        margin-right: 0em;
    }

    #like_button {
        margin-left: 0;
        margin-right: 1em;
    }

    .list {
        margin-top: 0.7em;
    }

    .list header {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.45fr);
        padding-left: 4.4em;
        padding-right: 2.8em;
    }
}

/* content card css copied from homepage */

.content_card{
    cursor: pointer;
    width: 200px;
    height: auto;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}
.content_card:hover{
    background: rgb(105, 105, 170,.1);
}
.content_card img{
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 5px;
}
.card_title{
    color: #b6b6b6;
  line-height: 15px;
  font-size: 15px;
  margin-bottom: 2px;
}
.card_subtitle{
  font-size: 12px;
  color: #4c5262;
}

.card_title,
.card_subtitle {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
