@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: auto;
    width: 100%;
    height: auto;
}

.section_container {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.section_header {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_header .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

.section_header .bi:hover {
    color: #fff;
}

.scrolling_grid {
    display: grid !important;
    grid-template-columns: repeat(10, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr;
}

.list_container {
    width: 100%;
    height: auto;
    margin-top: 6px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.content_card :first {
    border: 50px solid #fff;
}

.list_container::-webkit-scrollbar {
    display: none;
}

.content_card {
    cursor: pointer;
    width: 200px;
    height: auto;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

.content_card:hover {
    background: rgb(105, 105, 170, .1);
}

.content_card img {
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 5px;
}

.card_title {
    color: #b6b6b6;
    line-height: 15px;
    font-size: 15px;
    margin-bottom: 2px;
}

.card_subtitle {
    font-size: 12px;
    color: #4c5262;
}

.card_title,
.card_subtitle {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small_cards .content_card {
    width: 140px;
    height: 190px;
}

.small_cards .content_card .card_title {
    font-size: 13px;
}

.small_cards .content_card img {
    width: 140px;
    height: 140px;
}

.large_cards .content_card {
    width: 250px;
    height: 250px;
}

.large_cards .content_card .card_title {
    display: none;
}

.large_cards .content_card img {
    width: 250px;
    height: 250px;
}
